# Python specific files
*.pyc
__pycache__/
instance/
venv/
**/dash_env/
**/.pytest_cache/
**/flask_session/

# Node.js specific files
node_modules/
/frontend/build/
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage/

# IDE-specific files and system metadata
.vscode/
.idea/
.DS_Store

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files and directories
*.swp
*.tmp
*.temp
env/
.env
*.env.*

# Test and seed scripts
seed_data.py
test_app.py

# Coverage reports
.coverage
htmlcov/

# Databases
*.sqlite
*.db
**/site.db

# MacOS Thumbnails
._*

# Design tool files
*.fig

# Docker
docker-compose.override.yml
.docker/
**/postgres_data/

# Local production files
**/dist/
**/build/
**/out/