@import './styles/colours.css';
@import './styles/typography.css';

/* Add any global styling here */
body {
    margin: 0;
    padding: 0;
    background-color: var(--light);
    color: var(--text);
    font-family: 'Inter', sans-serif;
    min-width: 320px; /* Prevent app from shrinking below 320px */
}